images/jackfruit/*.jpg
images/not-jackfruit/*.jpg
vir/
tensorflow-for-poets-2/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/

tf_files/*
!tf_files/models/
!tf_files/retrained_graph.pb
!tf_files/retrained_labels.txt